/.idea export-ignore
/vendor export-ignore
/tests export-ignore
/.dev export-ignore
/compose.yml export-ignore
/composer.lock export-ignore
/phpunit.xml export-ignore
/.gitignore export-ignore
/README.md export-ignore
/phpbench.json export-ignore
/AGENTS.md export-ignore
/devenv.lock export-ignore
/devenv.nix export-ignore
/devenv.yaml export-ignore
/mago.toml export-ignore
/rector.php export-ignore
